################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SoilReaderPanel/obj/Release/netcoreapp3.0
/SoilReaderPanel/bin/Debug/netcoreapp3.0
