@model SoilReaderPanel.Data.Device

@{
    ViewData["Title"] = "Add Device";
}

<h4>Add Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParticleDeviceID" class="control-label"></label>
                <input asp-for="ParticleDeviceID" class="form-control" />
                <span asp-validation-for="ParticleDeviceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceName" class="control-label"></label>
                <input asp-for="DeviceName" class="form-control" />
                <span asp-validation-for="DeviceName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ImageLocation" class="control-label"></label>
                <input asp-for="ImageLocation" class="form-control" />
                <span asp-validation-for="ImageLocation" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <button type="submit" asp-action="AddDevice" class="btn btn-primary"> Add </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Devices</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
